*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cproject
.gdb_history
.gdbinit
.gn
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/chromium/.gclient.tmp*
/base
/gyp-mac-tool
/links
/links.db
/net
/out
/x86-generic_out/
/xcodebuild

!*.sha1
